html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

body { margin: 0; }

#container {
    overflow-y: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#container > * {
    width: 100%;
    min-height: 10%;
    max-height: 30%;
    float: left;
}

#top-bar {
    display: inline-block;
    text-align: right;
    height: 25px;
    margin-top: 17px;
}

#top-bar > * { float: right; }

a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin: 7px 6.7px;
}

a:hover {
    opacity: .85;
    text-decoration: underline;
}

#profile-pic {
    width: 29px;
    height: 29px;
    border-radius: 50px;
    margin-top: -6px;
}

#g-apps {
    width: 24px;
    height: 24px;
    margin: -5px 6px 0px 6px;
}

#logo {
    width: initial !important;
    min-width: 14%;
    min-height: initial;
}

form {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    margin: 13px 0px auto 0px;
}

#search-bar {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/VisualEditor_-_Icon_-_Search-big.svg/768px-VisualEditor_-_Icon_-_Search-big.svg.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    
    border-color: lightgray;
    border-width: 0.1px;
    padding: 11px 33.5px;
    min-width: 37.7%;
    max-width: 70%;
    height: 22px;
    
}

#magnifier {
    float: left;
    height: 26px;
    width: 26px;
    margin-top: -34px;
    margin-left: 10px;
}

#btns-td { padding: 1.3% 3%; }

input[type=text] {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
}

input[type=text]:hover { box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28); }

input[type=submit] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 600px) {

    #top-bar { margin-right: 18px; }

    #logo { 
        width: 45%;
        margin: 40px 0px 15px 0px;
    }

    #search-bar { height: 5px; }
    input[type=submit] { display: none; }
    #footer-container { display: none; }

}

@media only screen and (min-width: 600px) {
    #top-bar { margin-right: 45px; }
}

footer {
    margin-top: 100px;
}

footer > div {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-bottom-color: rgb(228, 228, 228);
    font-size: 14px;
    line-height: 40px;
    width: 98%;
    height: 40px;
    text-align: left;
    color: #5F6368;
    background-color: #f2f2f2;
    padding-left: 27px;
}

.footer-section {
    display: unset;
}

.footer-section > a {
    margin: 0px 20px 0px 0px;
    color: #5F6368;
}
