#container {
    float: left;
    height: 100%;
    width: 100%;
}

.side-panel {
    float: left;
    
    min-width: 25px;
    min-height: 420px;

    width: 30%;
    height: 100%;
}

table {
    float: left;
}

#search-bar {
    border-radius: 50px;
    flex: 1;
    display: flex;
    padding: 10px;
    width: 510px;
    height: 20px;
    margin-bottom: 15px;
}

input {
    border-radius: 3px;
    height: 35px;
}